.navbar {
  display: flex;
  flex-direction: column;
  border-right: 3px solid var(--color-secondary-light);
  height: 100vh;
  position: sticky;
  top: 0;

  .nav__header {
    padding: 3rem;
    margin-bottom: 1rem;
  }

  .nav-link:not(:first-child) {
    border-top: 1px solid var(--color-secondary-light);
    width: 100%;
  }

  .nav-link {
    text-decoration: none;
    padding: 1rem;
    padding-left: 3rem;
    font-size: 1.8rem;
    color: var(--color-secondary-dark);

    &:hover {
     background-color: var(--color-tertiary);
    }
  }

  
}